<p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="enun" name="pregunta[enunciado]" value="<%= pregunta.enunciado %>" />
</p>

<a href="/admin/cuestionarios/<%= cuestionario.id %>/preguntas"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">