<p>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="pregunta[enunciado]" value="<%= pregunta.enunciado %>" />
</p>
<p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="respuesta[valor]" value="<%= respuesta.valor %>" />
</p>
<a href="/admin/preguntas"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar">
